html,
body {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    margin: 0px;
}

.graph-canvas {
    width: 100%;
    height: 600px;
    margin: auto;
}

.node text {
    font-size: 8px;
}

.node circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node.gene circle {
    fill: coral;
    r: 20px;
}

.node.pathway circle {
    fill: goldenrod;
    r: 10px;
}

.link {
    stroke-opacity: 0.6;
}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus {
        border: 1px solid #008ABF;
        transition: 0.35s ease;
        color: #008ABF;
        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}